<div id="barra_titulo">
  <h3 class="titulo_show">Usuario</h3>
</div>

<table id="listar">

  <tr>
    <td class="lista_item">Nome</td>
    <td class="lista_conteudo"><%= @usuario.nome %></td>
  </tr>

</table>

<div id="link_voltar">
  <%= link_to 'Alterar', edit_core_perfil_path(@usuario) %>
</div>
