<div class="page-header">
	<h3><%= link_to 'Voltar', aquaviario_embarques_path %> | Editando Embarque</h3>
</div>

<%=

  situacao = @aquaviario_embarque.situacao

  case situacao
    when "Aberto"
      render 'form_aberto'
    when "Fechado"
      render 'form_fechado'
    when "Processando"
      render 'form_processando'
    when "Processado"
      render 'form_processado'
    
  end
  
	
%>
