<header class="jumbotron" id="overview">
	<div class="row">
		<div class="hero-unit">
			<p class="lead">
				<h3>Seja bem vindo</h3>
				<h6> Usuario: <%= @usuario_logado.login %>
				<br>
				Nome: <%= @usuario_logado.nome %>
				<br>
				Ultimo Acesso em: <%= @usuario_logado.ultimadataacesso.to_s_br %>
				<br>
				Ultimo IP: <%= @usuario_logado.ultimologinip %>
				<br>
				</h6>
			</p>
		</div>
		<div class="span6">

		</div>
	</div>

</header>