<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>Usuario</th>
			<th></th>

		</tr>
	</thead>

	<tbody>
		<%= content_tag_for(:tr, @grupo.usuario_grupos) do |usuario| %>
		<td><%= usuario.usuario.nome %></td>
		<td><%= link_to 'Remover', core_grupo_usuario_grupo_path(@grupo, usuario), method: :delete, :class=>"btn btn-danger btn-small", data: { confirm: 'Você está certo disso?' } %></td>

		<% end %>
	</tbody>
</table>

<td><%= link_to 'Adicionar Usuario', new_core_grupo_usuario_grupo_path(@grupo), :class=>"btn btn-success" %></td>
