<div class="page-header">
	<h3><%= link_to 'Voltar', core_npjs_path %> | Negativações do CNPJ <%= @pessoa.cnpj %></h3>
</div>

<h4>Nova Negativação</h4>
<%= render 'form' %>
<h4>Negativações</h4>
<%= render 'negativacoes' %>

