<table width="100%" border="1">
  <tr>
    <td rowspan="2" align="center" valign="middle">imagem</td>
    <td colspan="3" rowspan="2" align="center" valign="middle">TERMO DE APRENSÃO</td>
    <td>TERMO DE APRENSAO</td>
  </tr>
  <tr>
    <td>SADXXXFSD</td>
  </tr>
  <tr align="center" valign="middle">
    <td colspan="5" align="left">SFASDF ASDF</td>
  </tr>
  <tr align="center" valign="middle">
    <td colspan="5" align="left">ASDF ASDF ASDF ASDF</td>
  </tr>
  <tr align="center" valign="middle">
    <td colspan="5" align="left">ASDFASD FASDF ASDFASD FASDF ASDF</td>
  </tr>
</table>