<div class="page-header">
	<h3><%= link_to 'Voltar', core_npfs_path %> | Negativações do CPF <%= @pessoa.cpf %></h3>
</div>

<h4>Nova Negativação</h4>
<%= render 'form' %>
<h4>Negativações</h4>
<%= render 'negativacoes' %>

