<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<title> CheckinGT </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="A calm, blue sky.">
		<meta name="author" content="Thomas Park">



		<%= stylesheet_link_tag "print", :media => "all" %>
		


	</head>
	
	<body>
		<%= yield %>	
	</body>
</html>
